*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.barra {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.buy-btn-top {
  background: #000000;
  padding: 20px 33px;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 12px;
}

.main-content {
  margin-top: 10px;
  padding-left: 10px;
}

.video-box {
  width: 650px;
  height: 400px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 3px solid #000000;
  margin-left: 50px;
  margin-right: 80px;
}

.video-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.bottom-text {
  color: white;
  font-size: 25px;
  margin-top: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 10px black;
  width: 1000px;
  margin-left: 28px;
  margin-right: 120px;
}
